{% extends "layout.html" %}

{% block body %}
<center><img src="https://bit.ly/3pmwqF2" alt="Add to Database"></center>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Fees</h5>
          <a href="add_fees" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Ragas</h5>
          <a href="add_ragas" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Levels</h5>
            <a href="add_level" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Students</h5>
          <a href="add_student" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Agencies</h5>
          <a href="add_agency" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Examination</h5>
          <a href="add_exam" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Events</h5>
          <a href="add_events" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Level Raga</h5>
          <a href="add_level_raga" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Add Fees Payment</h5>
      <a href="add_fees_payment" class="btn btn-primary">Go</a>
    </div>
  </div>
{% endblock %}