{% extends "layout.html" %}

{% block body %}
    <h1 style="text-align: center; font-size: 25px; margin-top: 10%">Raags</h1>
    
    <form style="text-align: center; margin-top: 6%;" action='/add_ragas_button' method="POST">
        <div style="padding: 10px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="Raga_Name" placeholder="Enter Name">
        </div>
        <div style="padding: 10px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="Aaroh" placeholder="Enter Aaroh">
        </div>
        <div style="padding: 20px 0;">
            <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="Avaroh" placeholder="Enter Avaroh">
        </div>
        <button style="margin-top: 30px;" type="submit" value="Submit">Submit</button>
    </form>
{% endblock %}