{% extends "layout.html" %}

{% block body %}
    <h1 style="text-align: center; margin-top: 107px;">Event Details</h1>
    <div style="text-align: center; margin: 170px;" >
        <table width="100%" style="border: 1px solid black; text-align: center;border-collapse: collapse;">
            <tr style="border: 1px solid black;">
                <th width="(100/5)%" style="border: 1px solid black;">S_no</th>
                <th width="(100/5)%" style="border: 1px solid black;">Agency_id</th>
                <th width="(100/5)%" style="border: 1px solid black;">Student_Reg_No</th>
                <th width="(100/5)%" style="border: 1px solid black;">Place</th>
                <th width="(100/5)%" style="border: 1px solid black;">Date_of_Event</th>

            </tr>
            {% for event in events %} 
                    <tr style="border: 1px solid black;">
                        <td width="(100/5)%" style="border: 1px solid black;">{{event[0]}}</td>
                        <td width="(100/5)%" style="border: 1px solid black;">{{event[1]}}</td>
                        <td width="(100/5)%" style="border: 1px solid black;">{{event[2]}}</td>
                        <td width="(100/5)%" style="border: 1px solid black;">{{event[3]}}</td>
                        <td width="(100/5)%" style="border: 1px solid black;">{{event[4]}}</td>

                        <td style="border: 1px solid black;"></td>
                    </tr>

            {% endfor %}
        </table>
    </br>
        <h3>Delete Event Record?</h3>
        <form style="text-align: center; margin-top: 6%;" action='/delete_event_button' method="POST">
            <div style="padding: 10px 0;">
                <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="S_No" placeholder="Enter S_No">
            </div>
            <button style="margin-top: 30px;" type="submit" value="Submit">Delete</button>
        </form>
    </div>
{% endblock %}