{% extends "layout.html" %}

{% block body %}
    <h1 style="text-align: center; margin-top: 107px;">Level Details</h1>
    <div style="text-align: center; margin: 170px;" >
        <table width="100%" style="border: 1px solid black; text-align: center;border-collapse: collapse;">
            <tr style="border: 1px solid black;">
                <th width="(100/3)%" style="border: 1px solid black;">Level_id</th>
                <th width="(100/3)%" style="border: 1px solid black;">Name</th>
                <th width="(100/3)%" style="border: 1px solid black;">Actual_Name</th>
            </tr>
            {% for level in levels %} 
                    <tr width="100%" style="border: 1px solid black;">
                        <td width="(100/3)%" style="border: 1px solid black;">{{level[0]}}</td>
                        <td width="(100/3)%" style="border: 1px solid black;">{{level[1]}}</td>
                        <td width="(100/3)%" style="border: 1px solid black;">{{level[2]}}</td>
                        <td style="border: 1px solid black;"></td>
            </tr>
            {% endfor %}
        </table>
    </br>
        <h3>Delete Level Record?</h3>
        <form style="text-align: center; margin-top: 6%;" action='/delete_level_button' method="POST">
            <div style="padding: 10px 0;">
                <input style="background-color: #d3d1d1; padding: 10px 20px;" type="text" name="Level_id" placeholder="Enter Level Id">
            </div>
            <button style="margin-top: 30px;" type="submit" value="Submit">Delete</button>
        </form>
    </div>
{% endblock %}