{% extends "layout.html" %}

{% block body %}
<center><img src="https://bit.ly/3hhvQW8" alt="Misc Data"></center>
<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">View Student & Association</h5>
      <a href="view_student_association_years" class="btn btn-primary">Go</a>
    </div>
</div>
<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">View Student Events</h5>
      <a href="view_student_events_details" class="btn btn-primary">Go</a>
    </div>
</div>
{% endblock %}