{% extends "layout.html" %}

{% block body %}
<center><img src="https://bit.ly/2JkVhtr" alt="View Database"></center>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Fees</h5>
          <a href="view_fees" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Ragas</h5>
          <a href="view_ragas" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View Levels</h5>
            <a href="view_levels" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Students</h5>
          <a href="view_students" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Agencies</h5>
          <a href="view_agencies" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Examination</h5>
          <a href="view_exams" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Events</h5>
          <a href="view_events" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Level Raga</h5>
          <a href="view_level_raga" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">View Fees Payment</h5>
      <a href="view_fees_payment" class="btn btn-primary">Go</a>
    </div>
  </div>
{% endblock %}